/* Whole document: */
body {
  font-family: Helvetica;
  font-size: 1.25em;
}

/*
Controls Header 1 and Header 2, both set to text-size = 0. This is done so
the slides can have a proper title in the TOC even if they don't have text on
the siide. It also allow for easier navigation in the RStudio outline panel.
However, this means that all of the headers on the slides needs to be H3-H6
*/
div.slide h1 {
  color: red;
  font-size: 0em;
  padding: 0;
  margin: 0em auto;
  min-height: 0em; /* Controls total vertical height of text box */
  height: 0em; /* Controls total vertical height of text box */
  text-align: center;
  line-height: 0em; /* Controls vertical position of text */
}

/* Controls title page text (for Header1) */
div.slide.titlepage h1 {
  color: black;
  font-size: 2em;
  padding-top: 5%;
  margin: .75em auto;
  min-height: .75em; /* Controls minimum height of text box */
  height: 3em; /* Controls total height (adjust for # of lines in title) */
  text-align: center;
  line-height: 1.5em; /* Controls vertical position of text */
}

/* Controls Header3-6 */
h3,h4,h4,h5,h6 {
  width: 100%;
  margin:.75em auto;
  padding: 0;
}

h3 {
  font-size: 2em;
  text-align: center;
}

h4 {
  font-size: 1.8em;
  text-align: center;
}

h5 {
  font-size: 1.6em;
  text-align: center;
}

h6 {
  font-size: 1.4em;
  text-align: center;
}

/* Paragraph text */
p {
  font-size: 1.25em;
  line-height: 1.5em; /* Controls vertical position of text */
}
/* List items */
li {
  font-size: 1.25em;
}
/* Ordered list items */
ol {
  font-size: 1.25em;
}

.centercell{
  font-size: 1.25em;
  line-height: 1.5em;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  margin: 0
}

.centertitle{
  font-size: 2em;
  line-height: 1.5em;
  text-align: center;
  vertical-align: middle;
  margin: 0
}
